.header {
  margin: 0;
  display: grid;
  min-height: 293px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  justify-items: start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 391px;
  gap: 13px;
}

.header__links-list-item {
 list-style: circle;
}

.header__links-list-item_no-bullit {
 list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  min-width: 130px;
  min-height: 105px;
}

.header_right_menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  justify-items: end;
}

.header__right_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 240px;
}

.header__right-list-items {
  list-style: none;
}

.header__right-list-anchors {
  text-decoration: underline;
}

.cover {
  position: relative;
  background-image: url(../images/cover.png);
  min-height: 757px;
  color: #fff;
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}

.cover__title {
  margin: 165px 50px 106px  50px;
  width: 1000px;
  height: 385px;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  text-align: left;
  letter-spacing: 30px;
}

.aligned-text-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 1000px;
 height: 51px;
 margin-left: 50px;
}

.cover__description-text {
  padding-top: 12px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 1px;
  word-spacing: 16px;
  text-transform: uppercase;
}

.bet-button {
  display: flex;
  justify-content: center;
  width: 256px;
  height: 51px;
  border: solid 1px #fff;
  background-color: transparent;
}

.button-text  {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.lots {
  margin: 185px 24px 0px;
  min-height: 723px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  margin: 27px auto;
  min-height: 596px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  min-height: 596px;
  width: 334px;
  z-index: -1;
}

.card-link {
  height: 100%;
}

.card {
  position: absolute;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card_1.png);
}

.card_type_book {
  background-image: url(../images/card_2.png);
}

.card_type_picture {
  background-image: url(../images/card_3.png);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  margin: 34px 40px;
  text-decoration: underline;
  font-size: 20px;
}

.about {
  margin: 120px 24px 0px;
  min-height: 595px;
}

.about__column {
  display: grid;
  padding-top: 35px;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 240px 1fr;
  gap: 0px 25px;
}

.about__logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
  z-index: 0;
}

.about__logo-image-pic {
  width: 145px;
  height: 145px;
}

.about__title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  align-self: center;
  justify-self: start;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 24px;
}

.footer {
  margin: 180px 0px 0px 0px;
  padding: 0px 50px 0px 50px;
}

.footer__content {
  width:1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.footer__left_list {
  width: 264px;
}

.footer__menu {
  width: 164px;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-link {
 text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
